<div id="experience-section" style="
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: #f9f9f9;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: opacity 1s ease-in-out; 
">

  <h2 style="font-size: 2.5rem; margin-bottom: 20px;">My Experience</h2>

  <div style="max-width: 800px; text-align: left;">
    <div style="margin-bottom: 30px;">
      <h3 style="font-size: 1.5rem; color: #241799;">Software Engineer - I</h3>
      <p style="font-size: 1.2rem;">Xpress Money (2023 - Present)</p>
      <p>Working on full-stack development using C#, .NET Core, and Angular. Handling API integrations and front-end optimizations.</p>
      <h4>Responsibilities</h4>
      <p>Used C#,.NetCore,WebAPI,SQL,Angular 14 ,MongoDB & Microservices.</p>
      <p>Developed and maintained Angular and .NET applications 
        for Xpress Money Product, Utilizing Microservices 
        architecture. Collaborated with team members to design 
        and implement new features. Worked closely with 
        stakeholders to gather requirements and deliver solutions.</p>
        <p>Collaborated with cross-functional teams to ensuseamless integration of new technologies and solutions.</p>
    </div>
  </div>
</div>
