<div id="technical-skills-section" style="
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: white; /* Start with white background */
  color: white;
  text-align: center;
  transition: opacity 1s ease-in-out, background-color 1s ease-in-out; /* Transition for opacity and background-color */
">

  <h2 style="font-size: 2.5rem; margin-bottom: 20px;">Technical skills</h2>

  <div style="max-width: 800px; text-align: left;">
    <div style="margin-bottom: 30px;">
      <h3 style="font-size: 1.5rem; color: #ffcc00;"> Primary Skills :</h3>
      <ul>
        <li>Analysis, Designing , Development , Implementation</li>
      </ul>
      <h3 style="font-size: 1.5rem; color: #ffcc00;">Languages & Framework:</h3>
      <ul>
        <li>C# , ASP.Net Core, ASP .Net MVC, ADO.Net 
            ,Web API ,Java</li>
      </ul>
      <h3 style="font-size: 1.5rem; color: #ffcc00;">Web Technologies :</h3>
      <ul>
        <li>HTML , CSS , Angular 14 ,ReactJS</li>
      </ul>
      <h3 style="font-size: 1.5rem; color: #ffcc00;">Database :</h3>
      <ul>
        <li>SQL , MongoDB</li>
      </ul>
      <h3 style="font-size: 1.5rem; color: #ffcc00;">IDE’s :</h3>
      <ul>
        <li>Visual Studio , Visual Studio Code</li>
      </ul>
      <h3 style="font-size: 1.5rem; color: #ffcc00;">Tools :</h3>
      <ul>
        <li>SQL Server management studio, Postman , Git etc.</li>
      </ul>
</div>
</div>
</div>
